
*{
    box-sizing: border-box;
    margin: 0;
  padding: 0;

}



main{
  background-image: url("../img/3-scene_4.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  overflow-x:hidden;
}


  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  
  }
  h3{
    font-family: 'Covered By Your Grace', cursive;
    font-weight: bold;
    font-size: 30px;
    color: rgb(82, 75, 75);
    margin-left: 100px;
  }
  #mahmoud{
    position: relative;
    left: 650px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.column img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 80px;
    border:rgba(128, 128, 128, 0.418) solid;
  }

  .row::after{
    margin-top: 100px;
  }

  .column1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 650px;
    border:rgba(128, 128, 128, 0.418) solid;
   
  }
.column1{
  font-family: 'Covered By Your Grace', cursive;
  font-weight: bold;
  font-size: 40px;
  color: grey;

}
   