@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

nav {
    overflow: hidden;
  }
  
  nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: rgb(19, 138, 132);
    color: white;
  }
body{
    margin: 0;
    background-color: white;
}

header{
    background-color: rgba(255,255,255, 0.9);
    width: 100%;    
    position: fixed;
    top: 0;
    padding-bottom: 15px;
}

#logo{
	justify-content: center;
	align-items: center;
    font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    color: white;
    float: left;
}

span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    animation: span 3s ease-in infinite alternate;
}

.letter{
	display: inline-flex;
	height: 20px;
	width: 20px;
	/* border: 2.5px solid #FF1EAD; */
	border: 5px solid rgb(255, 255, 255);
	border-radius: 90px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in infinite alternate;
}

@keyframes letter {
	0%,20%{ width: 27px; }
	60%,100%{ width: 15vw; }
}

header nav{
    float: right;
    padding: 0 30px;
    padding-top: 3px;
    color: #000000;
}
header nav ul li {
    display: inline-block;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}
header nav ul li a:hover {
    color: white;
 
}

#logo{
    display: inline;
    color: black;
    padding-left: 20px;
    font-family: 'Covered By Your Grace', cursive;
    margin-top: 25px;

}

header img{
    float: left;
    width: 80px;
}

h1{
    display: inline;
    font-size: 30px;
}
main{
    background-color: #ffffff;  
}
footer{
    position: absolute;
    padding-top: 15px;
    background-color: rgba(255,255,255, 0.9);
    width: 100%;
    margin-bottom: 20px;
}


footer p{
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 15px;
    padding-right: 10px;
    text-align: center;
    padding-left: 600px;
    padding-top: 10px;
}

footer ul{
    list-style: none;
    padding-left: 10px;

}
footer ul li{
    display: inline;
    
}
footer ul li a img{
    width: 35px;
    float: right;
    padding-right: 5px;
    border-radius: 20px;
}
