@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}



html,
body {
  height: 100%;
}

nav {
    overflow: hidden;
  }
  
  nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #000000;
    color: white;
  }
body{
    margin: 0;
    background-color: white;
}

header{
    background-color: rgba(255,255,255, 0.9);
    width: 100%;    
    position: fixed;
    top: 0;
    padding-bottom: 15px;
}

#logo{
	justify-content: center;
	align-items: center;
    font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    color: white;
    float: left;
}


header nav{
    float: right;
    padding: 0 30px;
    padding-top: 3px;
    color: #000000;
}
header nav ul li {
    display: inline-block;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}
header nav ul li a:hover {
    color: white;
 
}

#logo{
    display: inline;
    color: black;
    padding-left: 20px;
    font-family: 'Covered By Your Grace', cursive;
    margin-top: 25px;

}

header img{
    float: left;
    width: 80px;
}

h1{
    display: inline;
    font-size: 30px;
}
main{
    background-color: #ffffff; 
    overflow: auto;
}
footer{
    
    position: absolute;
    padding-top: 15px;
    background-color: rgba(255,255,255, 0.9);
    width: 100%;
    margin-bottom: 20px;
}


footer p{
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 15px;
    padding-right: 10px;
    text-align: center;
    padding-left: 700px;
    padding-top: 10px;
}

footer ul{
    list-style: none;
    padding-left: 10px;

}
footer ul li{
    display: inline;
    
}
footer ul li a img{
    width: 35px;
    float: right;
    padding-right: 5px;
    border-radius: 20px;
}
