#discoverSection{
    padding-top: 50px;
    margin-top: 50px;
    width: 500px;
}
#discoverSection p{
    display: inline;
}
#discoverSection img{
    width: 200px;
    height: 300px;
}

table{
    width: 100px;
    margin-bottom: 10px;
    margin-left: 20px;
}
table, th, tr, td{
    border: 1px solid black;
    text-align: center;    
}

