@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


#findFormSection{
    margin-top: 200px;
    FONT-WEIGHT: 700; 
    width: 600px;
    margin-left: 860px;
    padding: 20px;
    
}
input[type=text],[type=time], select {
    width:25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: -10px;
    border-radius: 50px;
  }

#find{
    width:80%;
    background-color: #17AFA7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', 'sans-serif';
    font-size: 30px;
    border-radius: 70px ;
    position: relative;
    bottom: 100px;
    left: 50px;
}
#find:hover {
    background-color: #000000;
  }
  input:invalid {
    border: 2px solid #ddd;
  }
  input:valid {
    border: 2px solid #5DA38B;
  }
  input:focus:invalid {
    box-shadow: none;
  }
  #name{
    width: 75%;
  }
  #time{
    margin-left: 3px;
     width: 80;
  }
  #day{
    margin-left: 10px;
    width: 60;
  }
  #main-img{
      float: left;
      width: 800px;
      margin-top: 150px;

      
  }
  #gender{
      width: 100%;
  }

  #payment{
    width: 28.5%;
  }
  #from{
      width: 30%;
      margin-left: 15px;
  }
  #to{
      width: 30.5%;
      margin-left: 15px;
  }
  
main {
    background-color: white;
}
#findForm{
    background-color: white;
    

}
label{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    margin-left: 10px;
    }
  fieldset{
    box-shadow: 5px 5px 70px #49bee2;
    box-sizing: padding-box;
    padding: 40px 10px;
    padding-bottom: 100px;
    }
#findAgain{
    border: none;
    border-radius: 70px;
    background: #000000;
    padding: 6px 20px;
    color: #FFF;
	font-family: 'Raleway', sans-serif;
    font-size: 30px;
    position: relative;
    left:730px;
    margin-left: -60px;
}
#findAgain:hover {
    box-shadow: 0 0 2px 1px #17AFA7;
    background-color:  #17AFA7;
    color: #ffffff;
    transition-delay: 350ms;
}
#findResultsSection{
      padding-top: 100px;
      width: 100%;
      padding-left: 30px;
      padding-right: 10px;
  }
  
.driverImage{
      position: relative;
      width: 50%;
  }
  
#findResultsSection img{
      width: 300px;
      height: 300px;
      border-radius: 150px;
      opacity: 0.7;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
#findResultsSection img:hover{
      opacity: 1;
  }
  
  
.overlayName{
          background-color: #4CAF50;
          color: white;
          font-size: 16px;
        }
  
  
table{
      max-width: 100%;
      margin-bottom: 10px;
      margin-left: 25px;
      background-color: rgba(255,255,255);
    border-radius: 25px;
    padding: 20px;
    opacity: 0.8;
  }
table, th, tr{
      border: 1px solid black;
      text-align: center;    
  }
td{
      font-size: 15px;
      width:400px;
      background-color: rgba(255,255,255,.9);
      opacity: .8;
      height: 160px; 
      font-family: 'Lora', serif; 
  }
  
  
table:first-of-type{
      margin-top: 100px;
  }
  
 h2{
      font-family: 'Covered By Your Grace', cursive;
      font-weight: bold;
      font-size: 40px;
  }
  
  .info{
      font-family: 'Lora', serif;
      font-size: 30px;  
  }

  #opsMessage{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
  }
