@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


#findFormSection{
    margin-top: 50px;
}
*{
    box-sizing: border-box;
}
main {
    background-image: url('../img/carbool.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#findFormSection{
    padding-top: 50px;
    margin-top: 50px;
    width: 500px;
}
#findFormSection img{
    width: 200px;
    height: 300px;
}

#findAgain{
    border: none;
    border-radius: 70px;
    background: #000000;
    padding: 6px 20px;
    color: #FFF;
	font-family: 'Raleway', sans-serif;
    font-size: 30px;
    /* margin-left: 500px; */
    position: relative;
    left:730px;
    margin-left: -60px;
}
#findAgain:hover {
    box-shadow: 0 0 2px 1px #17AFA7;
    background-color:  #17AFA7;
    color: #ffffff;
    transition-delay: 350ms;
  }

  
  #findResultsSection{
      padding-top: 100px;
      width: 100%;
      padding-left: 30px;
      padding-right: 10px;
  }
  
  .driverImage{
      position: relative;
      width: 50%;
  }
  
  #findResultsSection img{
      width: 300px;
      height: 300px;
      border-radius: 150px;
      opacity: 0.7;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  #findResultsSection img:hover{
      opacity: 1;
  }
  
  
  .overlayName{
          background-color: #4CAF50;
          color: white;
          font-size: 16px;
        }
  
  
  table{
      max-width: 100%;
      margin-bottom: 10px;
      margin-left: 25px;
      background-color: rgba(255,255,255);
    border-radius: 25px;
    padding: 20px;
    opacity: 0.8;
    
  
  }
  table, th, tr{
      border: 1px solid black;
      text-align: center;  
        
  }
  td{
      font-size: 15px;
      width:400px;
      background-color: rgba(255,255,255,.9);
      opacity: .8;
      height: 160px; 
      font-family: 'Lora', serif;
      
  }
  
  
  table:first-of-type{
      margin-top: 100px;
  }
  
  h2{
      font-family: 'Covered By Your Grace', cursive;
      font-weight: bold;
      font-size: 40px;
  }
  
  .info{
      font-family: 'Lora', serif;
      font-size: 30px;
  }

  #opsMessage{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
  }