#hero {
    background-image: url('../img/carbool.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    font-size: 70px;
    height: 900px;
    color: #000000;
    text-align: center;
	font-family: 'Quicksand', sans-serif;
    padding-top: 300px;
    
  }

  button{
    border: none;
    border-radius: 70px;
    background: #4d0029;
    padding: 8px 30px;
    color: #FFF;
	font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}
button:hover {
    box-shadow: 0 0 2px 1px #4d0029;
    background-color:  #000000;
    color: #ffffff;
    transition-delay: 350ms;
  }




  #find img{
    width: 400px;
   border-radius: 900px;
   border: double rgb(19, 138, 132);
   border-width: 10px;
   margin: 50px;
   left: 200px;
   padding: 20px;
   margin-left: 60px;

}

#driver img{
    width: 400px;
    padding: 20px;
    margin-right: 60px;
    border-radius: 900px;
    border: double rgb(19, 138, 132);
    border-width: 10px;
    left: 900px;
    
}

#find {
    background-color: rgb(220, 220, 220);
    border-radius: 500px;
}
#offer{
    background-color: rgb(220, 220, 220);
    border-radius: 500px;
}


