#offerFormSection{
    margin-top: 150px;
}

input:focus { outline: none; }

input[type=text], [type=number] , [type=email],[type=time], select {
    width:25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: -10px;
    border-radius: 50px;
    
  }
  
  button {
    width:60%;
    background-color: #17AFA7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    border-radius: 70px ;
    align-items: center;
  }

  
  button:hover {
    background-color: #000000;
  }
  
  #offerFormSection {
    FONT-WEIGHT: 700; 
    width: 600px;
    margin-left: 860px;
    padding: 20px;
  }

  input:invalid {
    border: 2px solid #ddd;
  }
  input:valid {
    border: 2px solid #5DA38B;
  }
  input:focus:invalid {
    box-shadow: none;
  }


  #name{
    width: 100%;
  }

  #phone{
    width: 73%;
    margin-left: 3px;
  }

  #email{
    width: 88%;
    margin-left: 3px;
  }
  #time{
    margin-left: 3px;
     width: 100;
  }
  #day{
    margin-left: 10px;
  }

  #cost{
      width: 30%;
  }
  #accept{
    margin-left: 50%;
  }
  #To{
    margin-left: 30px;

  }
  #accept{
      margin-left: 10px;
  }
  #main-img{
      float: left;
      padding-top: 280px;
      width: 800px;
      
  }
  #gender{
      width: 100%;
  }

  #payment{
    width: 28.5%;
  }
  #from{
      width: 35%;
      margin-left: 15px;
  }
  #to{
      width: 36.5%;
      margin-left: 15px;
  }

  main{
      background-color: white;
  }
  #offerForm{
      background-color: white;
  }
  label{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    }
  fieldset{
    box-shadow: 5px 5px 70px #49bee2;
    }


    #offerAgain{
      padding: 6px 20px;
      border: none;
      border-radius: 70px;
      background: #000000;
      color: #FFF;
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      /* margin-left: 500px; */
      position: relative;
      width: 20%;
      top: 50px;
      left: 100px;
    }

    #offerAgain:hover{
      background: #17AFA7;
      box-shadow: 0 0 2px 1px rgb(19, 138, 132);
      color: #ffffff;
      transition-delay: 350ms;
    }

    #offerMessage{
      font-family: 'Covered By Your Grace', cursive;
      font-size: 50px;
      padding-left: 100px;

    }